.intro__img {
  box-shadow: var(--bs);

  @media (min-width: 600px) {
    & {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
    }
  }
}

.about-me__img {
  box-shadow: var(--bs);
  border-radius: 8px;

  @media (min-width: 600px) {
    & {
      grid-area: img;
      z-index: 2;
    }
  }
}

.portfolio__img {
  border-radius: 8px;
  transition:
    transform .7s cubic-bezier(.5, 0, .5, 1),
    opacity .2s cubic-bezier(.5, 0, .5, 1);
}