.contact-page {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  &__socials {
    margin-top: 2rem;
  }
}
