@media (min-width: 600px) {
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* On mobile, prevent overflow clipping */
@media (max-width: 599px) {
  .section__subtitle--intro {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.infinite-scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  max-width: 40em;
}

.infinite-scroll-container {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.infinite-scroll-text {
  display: inline-block;
  padding-left: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
