@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio__item {
  background-color: var(--clr-accent);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .portfolio_img {
    width: 250px;
    height: 250px;
  }

  .project__title {
    display: none;
    margin: 0 1.5em;
    font-size: 24px;
    color: var(--clr-light);
    z-index: 3;
    position: absolute;
  }

  &:focus {
    position: relative;
    z-index: 2;
  }

  &:hover .portfolio__img,
  &:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.5;

    +.project__title {
      display: inline;
      animation: slideInUp 0.6s ease-out forwards;
    }
  }
}
